@import './_common.scss';
@import '../helpers/variables';

.ico-my{
  @include rem-fallback(padding, 9px, 15px, 15px);
}

.ico-my-stat{
  .row{
    @include rem-fallback(padding-bottom, 15px);

    > div[class^="col"]{
      position: relative;

      hr{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        @include rem-fallback(height, 30px);
        -webkit-appearance: none;
        @include box-sizing(border-box);
        background-color: rgba(white, 0.2);
        border: 0;
      }
    }
  }
}

.ico-my-stat-value{
  position: relative;
  text-align: center;
  @include rem-fallback(padding, 20px, 0);
  color: #FFF;
  background-color: $color-night;

  h1{
    @include rem-fallback(padding-bottom, 10px);
    @include rem-fallback(font-size, 28px);
    font-weight: 600;
    small{
      @include rem-fallback(font-size, 14px);
    }
  }

  span{
    @include rem-fallback(font-size, 14px);
    color: rgba(#FFF, 0.5);
  }
}
.ico-my-ad{
  .ico-title{
    h1{
      @include rem-fallback(padding-bottom, 2px);
    }
  }

  .row{
    > div[class^="col"]{

      a{
        text-decoration: none;

        article{
          display: block;
          position: relative;
          @include rem-fallback(margin-top, 12px);
          @include rem-fallback(padding-bottom, 12px);
          border-bottom: 1px solid rgba(black, 0.08);
        }
      }
    }
  }
}

.ico-my-ad-img{
  position: absolute;
  left: 0;
  top: 0;
  @include rem-fallback(width, 100px);
  @include rem-fallback(height, 86px);
  background-position: center center;
  @include background-size(cover);

  img{
    display: block;
    width: 100%;
  }
}

.ico-my-ad-context{
  @include rem-fallback(margin-left, 112px);
  @include rem-fallback(margin-right, 4px);

  h1{
    @include rem-fallback(font-size, 16px);
    font-weight: 600;
    color: black;
  }

  ul{
    @include rem-fallback(padding, 6px, 0);

    li{
      @include rem-fallback(font-size, 12px);
      @include rem-fallback(line-height, 16px);

      span{
        color: rgba(black, 0.4);
      }

      b{
        display: inline-block;
        @include rem-fallback(padding, 0, 6px);
        color: rgba(black, 0.8);
      }
    }
  }
}

.ico-my-ad-reward{
  span{
    display: inline-block;
    @include rem-fallback(padding-left, 12px);
    @include rem-fallback(font-size, 11px);
    color: rgba(black, 0.4);
  }
}

.ico-my-ad-arrow{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include rem-fallback(width, 14px);
  @include rem-fallback(height, 14px);

  img{
    width: 100%;
    opacity: 0.3;
  }
}